<div id="form-main">
  <h2>Different controls with corresponding validations</h2>
  <hr>
  <div id="form-validations">
    <form action="">
      <div class="validations">
        <label class="form-label">REQUIRED TEXT*</label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">OPTIONAL TEXT</label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">EMAIL*</label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">PASSWORD</label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">EQUAL </label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">COUNTRY </label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">PHONE </label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">NUMBER </label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">MIN LENGTH </label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">MAX LENGTH </label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">NUMBER </label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">RANGE </label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">MIN VALUE </label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">MAX VALUE </label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <div class="validations">
        <label class="form-label">PROGRESS (0%) </label>
        <div class="form-input">
          <input type="text" formControlName="firstName">
        </div>
      </div>
      <button>Reset form</button>
      <button>Validate</button>
      <button>Submit</button>
    </form>
  </div>
</div>
