<div id="resume">
  <h1 class="name">Hi, I'm Ravinandan</h1>
  <h2>a freelance web developer <br>
    specialized in front-end development.
  </h2>
  <div class="portfolio-button">
    <button class="portfolio">PORTFOLIO</button>
    <button class="my-offer">CONTACT ME</button>
  </div>
</div>

<!-- <div class="resume">
  <div class="header">
    <div class="name">{{headerDetails.name}}</div>
    <div class="email">{{headerDetails.email}}</div>
    <div class="likidln_url">{{headerDetails.likidlnUrl}}</div>
    <div class="phone_number">{{headerDetails.phoneNumber}}</div>
  </div>
</div> -->
